<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="static/imgs/pcb.png" />
    <!--This is the title-->
    <title>Yoas1-projects</title>
  </head>
  {% extends 'base.html' %}
  {% block content %}
  {% for message in get_flashed_messages() %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert" style="background-color: #acfab0;">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  <body>
        <h1>Contact US</h1>
        <br><br>
        <div class="shadow-lg p-3 mb-5 rounded">
        <form method="POST">
                {{ form.hidden_tag() }}
                {{ form.message.label(class="from_label") }}
                {{ form.message(class="form-control form-control-lg", rows="8") }}<br>
                {{ form.submit(class="btn btn-primary mb-3") }}
            </form>
        </div>
  </body>
  {% endblock %}
</html>
