<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  {% extends 'base.html' %}
  {% block content %}
  {% for message in get_flashed_messages() %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert" style="background-color: #acfab0;">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {{ ckeditor.load_code_theme() }}
 <body>
    <center>
    <h1>Flask-Blog</h1><br><br>

    {% if posts %}
    {% for post in posts %}
        <div>
        <h2>{{ post.title }}</h2>
        {{ post.content|safe }}<br><br>
        </div>
    {% endfor %}

    {% else %}
    <stromg>Sorry, there are not posts yet.</stromg>

    {% endif %}


</center>
</body>
{% endblock %}
</html>