<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  {% extends 'base.html' %}
  {% block content %}
  {% for message in get_flashed_messages() %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert" style="background-color: #acfab0;">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {{ ckeditor.load_code_theme() }}
 <body>

    <h1>Python posts</h1><br>

    {% if posts %}
    {% for post in posts %}
        <div class="shadow-lg p-3 mb-5 rounded">
        <h2>{{ post.title }}</h2>
        <small>
        By: {{ post.post_auth.username }}<br>
        {{ post.date_posted }}<br><br>
        </small>
        <a href="{{ url_for('post', id=post.id) }}" class="btn btn-outline-secondary btn-sm">View post</a>
        <br>
        </div>
    {% endfor %}

    {% else %}
    <stromg>Sorry, there are not posts yet.</stromg>


    {% endif %}



</body>
{% endblock %}
</html>