<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="static/imgs/pcb.png" />
    </head>
  {% extends 'base.html' %}
  {% block content %}
  <body>
    <center>
            <h1>גברת פלפלת</h1>
        
            <iframe src="https://www.youtube.com/embed/v-caUFaSjHA?rel=0" width="853" height="480" frameborder="0" allowfullscreen></iframe>
            <br><br>
            <iframe src="https://drive.google.com/file/d/0B4YljEqiPzVDTjdkMDVFS3NfVjg/preview?resourcekey=0-sT8oFcdYVGlfCBZ60sL4ng" width="853" height="480" frameborder="0" allowfullscreen></iframe>
     <br> work! <br>
        </center>
  </body>
  {% endblock %}
</html>
